body {
    font-family: Arial, sans-serif;
    background-color: #708090;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #fff;
    padding: 20px;
}

.conteudo {
    padding: 20px;
}

.container {
    max-width: 100%;
    margin: 20px auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.imagem {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media only screen and (min-width: 600px) {
    .sidebar {
        width: 250px;
        position: fixed;
        height: 100%;
        overflow-y: auto;
    }

    .conteudo {
        margin-left: 250px;
    }

    .container {
        max-width: 100%;
        margin-left: 60px;
    }
}

#resetBtn {
    display: block;
    margin-top: 20px;
    width: calc(100% - 40px);
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#resetBtn:hover {
    background-color: #45a049;
}